.blur-search ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.user-input {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 90%;
  border: 1px solid #ddd;
}
.user-input input {
  position: absolute;
right: 1px;
  height: 16px!important;
  width: ;
  margin: 1px 0;
  border:0px;
  outline: none;
}
.user-input span {
  color: #ddd;
  cursor: pointer;
}
.user-input .dia-show {
  position: absolute;
  z-index: 9;
  overflow: hidden;
  top: 21px;
  left: -1px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0px;
}
.user-input .dia-show .scroll {
  position: absolute;
  right: 0px;
  width: 10px;
  height: 100%;
  background-color: #eee;
}
.user-input .dia-show .scroll .bar {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #aaa;
  border-radius: 4px;
}
.user-input .dia-show .dia-content {
  position: absolute;
  width: 100%;
}
.user-input .dia-show .dia-content li {
  position: relative;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding-left: 10%;
  color: #999;
  border-bottom: 1px dashed #eee;
  cursor: pointer;
  font-size: 13px;
}
.user-input .dia-show .dia-content i {
  font-style: normal;
  color: #333;
}
.hidden {
	display: none;
}
.pull-left {
  float: left;
}